@font-face{
    font-family: 'Hanken Grotesk';
    src: url('./assets/fonts/static/HankenGrotesk-Bold.ttf'), format('truetype');
    font-weight: bold;
}
@font-face{
    font-family: 'Hanken Grotesk';
    src: url('./assets/fonts/static/HankenGrotesk-ExtraBold.ttf'), format('truetype');
    font-weight: 800;
}
@font-face{
    font-family: 'Hanken Grotesk';
    src: url('./assets/fonts/static/HankenGrotesk-Medium.ttf'), format('truetype');
    font-weight: 500;
}
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
main{
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    min-height: 100vh;
    position: relative;
    font-family: 'Hanken Grotesk';
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    background-color: hsl(0, 0%, 100%);
    min-width: 46.25rem;
    height: 32.1875rem;
    border-radius: 1.875rem;
    box-shadow: 0.625rem 0.625rem 1.25rem hsl(221, 100%, 96%);
}
.left{
    background: linear-gradient(9deg, hsl(241, 81%, 54%),  hsl(252, 100%, 67%));
    color: hsl(0, 0%, 100%);
    border-radius: 1.875rem;
    width: 23.125rem;
    padding: 2.5rem;
    text-align: center;
}
.left span{
    color: hsl(241, 100%, 89%);
    font-size: 1.5rem;
    font-weight: 800;
}
.left .circle{
    background: linear-gradient(200deg, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    height: 12.5rem;
    width: 12.5rem;
    display: inline-block;
    border-radius: 50%;
    margin: 2.375rem 0 2rem 0;
}
.circle h1{
    font-size: 4.6875rem;
    margin-top: 2.5rem;
    font-weight: 800;
}
.circle p{
    color: hsl(241, 100%, 89%);
    font-weight: 500;
}
.left h2{
    font-weight: 800;
    font-size: 1.875rem;
    margin-bottom: 1rem;
}
.left p{
    margin: auto;
    width: 90%;
    font-size: 1.125rem;
    font-weight: 500;
    color: hsl(241, 100%, 89%);
}
.right{
    padding: 2.5rem 0.625rem;
}
#box{
    position: relative;
    margin: 2rem 0;
}
.card{
    position: relative;
    display: flex;
    width: 90%;
    height: 3.125rem;
    padding: 0 0.9375rem;
    margin-bottom: 1.375rem;
    border-radius: 0.3125rem;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
   
}
.card i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 8px;
    border-top-right-radius: 20px;
    background: hsl(221, 100%, 96%);
    box-shadow: 0px 50px hsl(221, 100%, 96%),286px 50px hsl(221, 100%, 96%), 286px 0 hsl(221, 100%, 96%);
}
.card i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 8px;
    background: hsl(221, 100%, 96%);
    box-shadow: 0 43px hsl(221, 100%, 96%),313px 43px hsl(221, 100%, 96%), 313px 0 hsl(221, 100%, 96%);
}
.card i::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 2px;
    background: hsl(221, 100%, 96%);
    box-shadow: 0 50px hsl(221, 100%, 96%),306px 50px hsl(221, 100%, 96%), 306px 0 hsl(221, 100%, 96%);
}
.card:nth-child(1){
    background-color: hsla(0, 100%, 67%, 0.055);
    color: hsl(0, 100%, 67%);
}
.card:nth-child(2){
    background-color: hsla(39, 100%, 56%, 0.055);
    color: hsl(39, 100%, 56%);
}
.card:nth-child(3){
    background-color: hsla(166, 100%, 37%, 0.055);
    color: hsl(166, 100%, 37%);
}
.card:nth-child(4){
    background-color: hsla(234, 85%, 45%, 0.055);
    color: hsl(234, 85%, 45%);
}
.top{
    display: flex;
}

.top h3{
    margin-left: 0.625rem;
}
.card p,button{
    font-size: 1.125rem;
   font-weight: 800;
}
.card p{
    color: hsl(241, 100%, 89%);
}
.card p span{
    color: hsl(224, 30%, 27%);
    margin-right: 0.3125rem;
}
button{
    margin-top: 0.625rem;
    width: 90%;
    height: 3.75rem;
    border-radius: 1.875rem;
    border: 0;
    background-color: hsl(224, 30%, 27%);
    color:  hsl(0, 0%, 100%);
    cursor: pointer;
}
button:hover{
    background: linear-gradient(9deg, hsl(241, 81%, 54%),  hsl(252, 100%, 67%));
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width:375px) {
    section{
        grid-template-columns: 1fr;
        min-width: 100%;
        height: auto;
    }
    .left{
        width: 100%;
        display: flex;
        flex-direction: column;
        place-items: center;
        padding: 1.5rem;
        border-radius: 0 0 1.5rem 1.5rem ;
    }
    .left span{
        font-size: 1.1rem;
    }
    .left .circle{
        width: 8.75rem;
        height: 8.75rem;
        margin: 1.5rem 0;
    }
    .circle h1{
        font-size: 3.32rem;
        margin-top: 1.7rem;
    }
    .left h2{
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .right{
        padding: 0rem 2rem;
    }
    .right h2{
        font-size: 1.1rem;
    }
    .card{
        width: 100%;
    }
    button{
        width: 100%;
        margin-top: 0;
    }
    .card i::before{
        box-shadow: 0 43px hsl(221, 100%, 96%),310px 43px hsl(221, 100%, 96%), 310px 0 hsl(221, 100%, 96%);
    }
    .card i::after{
        box-shadow: 0 50px hsl(221, 100%, 96%),302px 50px hsl(221, 100%, 96%), 302px 0 hsl(221, 100%, 96%);
    }
}